    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        color: rgb(9, 146, 238);
        line-height: 1.6;
    }
    #showcase{
        background-image: url('images/téléchargement.png');
        height: 100vh;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: auto;
    }
    #showcase h1{
        font-size: 50px;
    }
    #showcase p{
        font-size: 20px;
    }
    #showcase .button{
        font-size: 20px;
        text-decoration: none;
        color: rgb(9, 146, 238);
        border: rgb(238, 11, 11) solid;
        border-radius: 20px;
        margin-top: 20px;
    }
    #showcase .button :hover{
        background: rgb(235, 9, 9);
        color: cyan;

    }
   